body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(https://lh3.googleusercontent.com/pw/ABLVV87RHRwBG0gXfsLUmsVSr6zX8IvDFpTEUq9xKlNSbbvcADXmCs3J3Zcf1YyFE8ODn-v6j4HPlo98t1iWz_yzBQpY5zAajoozr2rAggE03vEAFWSREQ=w2400);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.white-container {
  width: 494px;
  height: 380px;
  background-color: white;
  padding: 20px;
  text-align: center;
  background-color: white;
  background-image: url(https://lh3.googleusercontent.com/pw/ABLVV84ND5-ZakalxPhlQhfDBJTV2a9FL3jNWAIuXHbfWPBhhgCkFVnqLL5dbjWHUwwPdgBZfVj9dbmx5xPbWJ39AWuibysvnT2iWv3OD2nfNTG9pCzdlw=w2400);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border-radius: 23px;
  border: 4px solid #362b44;
}

.centered-text {
  margin: 0 auto;
}

.container {
  text-align: center;
  margin: 20px;
}

#play {
  margin: auto;
  margin-top: 60%;
}

button {
  background-color: #362b44;
  color: #ffffff;
  font-family: 'ff hekaya', sans-serif;
  font-size: 3vmin;
  font-weight: normal;
  outline: none;
  border: 3px solid #362b44;
  border-radius: 1vmin;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 0em;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.913);
  color: #362b44;
  cursor: pointer;
}
